body {
    .header-wrapper {
        display: flex;
        position: relative;
        justify-content: space-between;
        margin-bottom: 1em;
        .main-nav {
            margin-top: 80px;
            ul {
                display: inline-flex;
                position: relative;
                margin-bottom: auto;
                li {
                    padding: 0  10px;
                    a {
                        color: #fcd6bf;
                        text-decoration: none;
                    }
                    .active {
                        border-bottom: 1px solid #fcd6bf;
                    }
                }
            }
        }
    }
}